---
permalink: 404.html
---

{% extends 'base.njk' %}
{% set page_title = 'Page Not Found' %}
{% block content %}
    <div class="container mx-auto px-3 md:px-12 max-w-screen-lg text-lg">
        <h1 class="text-9xl mt-12 border-secondary border-b-4">404</h1>
        <p class="text-xl">Unfortunately, the page you're looking for doesn't exist. Luckily President Bobby can get you (and
            America) back on track. Visit his
            <a href="/">homepage.</a>
        </p>
    </div>
{% endblock %}