{% extends 'base.njk' %}
{% set page_title = 'Platform' %}
{% block content %}
    <div class="container mx-auto px-3 md:px-12 max-w-screen-lg text-lg">
        <div class="mb-24">
            <h1 class="text-6xl md:text-9xl mt-12 border-secondary border-b-4">Platform</h1>
            <p class="text-xl">If there's one thing that matters in American politics, it's carefully considered policy. President
                Bobby has the fresh ideas the nation needs.
            </p>
        </div>
        <div class="mb-24 grid grid-cols-1 md:grid-cols-2 gap-24">
            <div>
                <h1 class="border-secondary border-b-4">Poverty: OVER</h1>
                <ul class="list-inside list-disc">
                    <li>President Bobby will bring his "not-for-cost" management to the American economy, cutting wasteful federal spending
                        by 100%.</li>
                    <li>President Bobby will task NASA to launch Chirp satellites over the United States, so working Americans can receive
                        coupon codes no matter where they are in the country.</li>
                    <li>President Bobby will direct the Consumer Financial Protection Bureau to investigate harmful fees like dipping sauce
                        surcharges, saving Americans up to $13 a year.</li>
                </ul>
            </div>
            <div>
                <img class="h-full object-cover" src="/static/platform/poverty.jpg"/>
            </div>
            <div>
                <h1 class="border-secondary border-b-4">Crime: OVER</h1>
                <ul class="list-inside list-disc">
                    <li>On day one of his presidency, President Bobby will issue an executive order making crime illegal.</li>
                    <li>To prevent corruption in the highest levels of the United States government, President Bobby will order all federal
                        employees to share one email account for transparency.</li>
                    <li>To hamper shoplifting, President Bobby will pass legislation requiring all consumer products to weigh at least
                        forty-five pounds.</li>
                </ul>
            </div>
            <div>
                <img class="h-full object-cover" src="/static/platform/crime.jpg"/>
            </div>
            <div>
                <h1 class="border-secondary border-b-4">War: OVER</h1>
                <ul class="list-inside list-disc">
                    <li>President Bobby will declare war on Russia and China, just to get it over with before election season.</li>
                    <li>To cut down America's bloated defense budget and deter our enemies, President Bobby will order the Air Force and
                        Army to merge and begin construction on flying tanks.</li>
                    <li>President Bobby will task the Army Corps of Engineers to install giant mouse traps in every major American city to
                        ensure no invader will be able to occupy them.</li>
                </ul>
            </div>
            <div>
                <img class="h-full object-cover" src="/static/platform/war.jpg"/>
            </div>
            <div>
                <h1 class="border-secondary border-b-4">Fear: OVER</h1>
                <ul class="list-inside list-disc">
                    <li>President Bobby will gather every American for a daily scrum meeting, so citizens are always certain that the
                        government still exists.</li>
                    <li>To reassure the American people, President Bobby pledges to tuck every American into bed at least once during his
                        presidency.</li>
                    <li>President Bobby will order the Department of Energy to begin work on eliminating nighttime, to bring safety to
                        Americans who are afraid of the dark.</li>
                </ul>
            </div>
            <div>
                <img class="h-full object-cover" src="/static/platform/fear.jpg"/>
            </div>
            <div>
                <h1 class="border-secondary border-b-4">Division: OVER</h1>
                <ul class="list-inside list-disc">
                    <li>President Bobby will ban cars and make all Americans ride public transit to build connections between people.</li>
                    <li>President Bobby will force the leaders of both major parties to join him on vacation in the Caribbean twice a month.</li>
                    <li>To reduce the toxicity of social media, President Bobby will make email the only legal method of online
                        communication in the United States.</li>
                </ul>
            </div>
            <div>
                <img class="h-full object-cover" src="/static/platform/division.jpg"/>
            </div>
            <div>
                <h1 class="border-secondary border-b-4">Wa-Bobby: OVER</h1>
                <ul class="list-inside list-disc">
                    <li>On day one of his presidency, President Bobby will revoke Wa-Bobby's citizenship and place an immediate kill order
                        on him.</li>
                </ul>
            </div>
            <div>
                <img class="h-full object-cover" src="/static/platform/wa-bobby.jpg"/>
            </div>
        </div>
    </div>
{% endblock %}