<!DOCTYPE html>
<html class="scroll-smooth">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
        <link href="/bobby-2024.css" rel="stylesheet"/>
        <link rel="shortcut icon" type="image/svg" href="/static/logo.svg"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>{{ page_title }} | Bobby 2024</title>
        <!-- Link preview tags -->
        <meta name="title" content="{{ page_title }} | Bobby 2024"/>
        <meta name="description" content="Bobby for President 2024"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://bobby-2024.com/"/>
        <meta property="og:title" content="{{ page_title }} | Bobby 2024"/>
        <meta property="og:description" content="Bobby for President 2024"/>
        <meta property="og:image" content="/static/og_image.png"/>
        <script src="https://kit.fontawesome.com/ca71f43bc2.js" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="flex min-h-screen flex-col">
            <nav class="flex py-4">
                <div class="container mx-auto px-3 md:px-12 max-w-screen-lg">
                    <ul class="flex items-center flex-col md:flex-row">
                        <li class="mx-6">
                            <a class="no-underline hover:underline" href="/">
                                <img height="64" width="64" src="/static/logo.svg"/>
                            </a>
                        </li>
                        <li class="mx-6 mb-4 md:mb-0">
                            <a class="no-underline hover:underline text-xl" href="/platform">
                                PLATFORM
                            </a>
                        </li>
                        <li class="mx-6 mb-4 md:mb-0">
                            <a class="no-underline hover:underline text-xl" href="/donate">
                                DONATE
                            </a>
                        </li>
                        <li class="mx-6 mb-4 md:mb-0">
                            <a class="no-underline hover:underline text-xl" href="/">
                                VOLUNTEER
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="flex-1">
                {% block content %}{% endblock %}
            </div>
            <div class="w-full mx-auto mt-6 px-3">
                <footer class="mx-auto">
                    <p class="text-primary text-center block mb-6">BOBBY FOR PRESIDENT 2024 is legally not coordinating with
                        <a href="https://ugo-ii.com">UGO II</a>
                        Polymer Fillers, dba UGO II Political Action Committee.</p>
                </footer>
            </div>
        </div>
    </body>
</html>